/* 
Background


1. background-color
2. background-image
3. background-size
4. background-position
5. background-repeat
6. background-attachment
7. background
tìm hiểu sự khác nhau giữa cover và contain trong background-size
*/

body {
    height: 2000px;
    background-color: aqua;
    background-image: url(../../../image/5.jpg);
    background-repeat: no-repeat;
    /* background-position: center bottom; */
    background-attachment: fixed;
    background-size: contain;
}
/* .content {
    background-color: bisque;
} */