* {
    margin: 0;
    padding: 0;
}
.checkbox span::before {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    border: 1px solid green;
    float: left;
    margin-right: 5px;
}
.checkbox span::after {
    content: "";
    display: none;
    width: 8px;
    height: 3px;
    border: green solid;
    border-width: 0 0 2px 2px;
    rotate: -45deg;
    position: absolute;
    top: 5px;
    left: 3px;
}
.checkbox input:checked + span::after {
    display: block;
}

