body {
    font-family: sans-serif;
}
.shape-list {
    display: flex;
}
.totallist {
    width: 100%;
    justify-content: center;       
    align-items: center;             
    margin: 50px 0;
}
.hd {
    text-align: center;
}
.content {
    width: 29em;
    margin: 15px;
    box-sizing: border-box;
    float: left;                    
    text-align: center;                
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);       
    transition: .4s;              
    background: white;
    border-radius: 3px;
}
.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}
img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 30px;
}
div div p {
    color: rgb(192,204,212);
}
.btn {
    color: white;
    background-color: rgb(242,168,59);
    border: none;
    font-size: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 30px;
    cursor: pointer;
}