body {
    margin: 0;
    font-family: sans-serif;
    background: white;
}
h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
a {
    text-decoration: none;
}
.totallist {
    /* display: flex; */
    flex-wrap: wrap;             /* dùng để bọc .content trong .totallist k bị lệch khi điều chỉnh kích thước trình duyệt */
    width: 100%;
    justify-content: center;        /* dùng để điều chỉnh .content nằm ở giữa */
    align-items: center;               /* tất cả các phần trong .totallist nằm ở giữa */
    margin: 50px 0;
}
.content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;         /*áp dụng chung kích thước cho div .content*/
    float: left;                    
    text-align: center;
    border-radius: 20px;              /*bo góc*/
    cursor: pointer;                /*thay đổi hình dáng của con trỏ chuột khi trỏ vào .content */
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);       /*thêm nền đổ bóng cho .content*/    
    transition: .4s;                /*tạo chuyển động*/
    background: white;
}
.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);        /* tạo hiệu ứng chuyển động khi hover vào .content*/
}
img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
p {
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
h6 {
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
li {
    padding: 5px;
}
.fa {
    font-size: 26px;
    transition: .4s;
}
.checked {
    color: #ff9f43;
}
.fa:hover {
    transform: scale(1.3);
    transition: .6s;
}
.totallist button {
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;   /*bo góc button*/
    border-bottom-left-radius: 20px; 
}
.buy-1 {
    background: #2183a2;
}
.buy-2 {
    background: #3b3e6e;
}
.buy-3 {
    background: #0b0b0b;
}
.buy-4 {
    background: #ff9f43;
}
.option {
    justify-content: center;
    border: 0;
}
h2 {
    color: #0b0b0b;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.choose {
    border: 0px;
    border-style: solid;
    margin: 2px;
    background-color: #f4f4f4;
    color: black;
    padding: 20px;
    font-size: 20px;
}
.choose:hover {
    background-color: #29388E;
    color: white;
}
.btn-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.btn-list label {
    margin: 0 5px 10px 5px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    background-color: #f4f4f4;
    padding: 10px 35px;
  }
input {
    display: none;
}
.skincare-list,
.haircare-list,
.cosmetics-list,
.fragrance-list,
.makeup-list {
    display: none;
    justify-content: center;
}
input#skincare:checked ~ .btn-list > label[for="skincare"],
input#haircare:checked ~ .btn-list > label[for="haircare"],
input#cosmetics:checked ~ .btn-list > label[for="cosmetics"],
input#fragrance:checked ~ .btn-list > label[for="fragrance"],
input#makeup:checked ~ .btn-list > label[for="makeup"] {
  background-color: #28368c;
  color: white;
}
input#skincare:checked ~ div div.skincare-list,
input#haircare:checked ~ div div.haircare-list,
input#cosmetics:checked ~ div div.cosmetics-list,
input#fragrance:checked ~ div div.fragrance-list,
input#makeup:checked ~ div div.makeup-list {
  display: flex;
}
