.open-sans-ops {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #666;
}

.left-ul-content {
  list-style: none;
  font-size: 0;
}

.dropdown {
  position: relative;
  font-size: initial;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 4px;
}

.dropdown:hover > a {
  color: #fff;
  background-color: #2da5da;
}

.left-ul-content .dropdown {
  border-right: 1px solid #666;
}

.icon-item {
  font-size: 1.4rem;
}

.icon-item.icon-left {
  margin-right: 12px;
}

.icon-item.icon-right {
  margin-left: 6px;
}

.dropdown > a {
  display: block;
  text-decoration: none;
  color: #666;
  padding: 10px 20px;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 220px;
  max-width: 300px;
  left: 0;
  top: 130%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown .dropdown-content::before {
  position: absolute;
  content: "";
  border: 12px solid white;
  border-color: transparent transparent white;
  top: -24px;
  left: 16px;
}

.dropdown .dropdown-content::after {
  content: "";
  position: absolute;
  background: transparent;
  top: -24px;
  left: 0;
  right: 0;
  height: 24px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-content .dropdown-list {
  list-style: none;
}

.dropdown .dropdown-content .dropdown-list .dropdown-items {
  padding: 10px 20px;
  text-align: left;
}

.dropdown .dropdown-content .dropdown-list .dropdown-items:hover {
  background-color: #2da5da;
}
.dropdown .dropdown-content .dropdown-list .dropdown-items:hover > a {
  color: #fff;
}

.dropdown .dropdown-content .dropdown-list .dropdown-items:not(:last-of-type) {
  border-bottom: 1px solid #666;
}

.dropdown .dropdown-content .dropdown-list .dropdown-items > a {
  text-decoration: none;
  color: #666;
}

.right-ul-content {
  border-left: 1px solid #666;
}